<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category  Staempfli
 * @package   Staempfli_HipChat
 * @copyright Copyright © Stämpfli AG. All rights reserved.
 * @author    marcel.hauri@staempfli.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="chatconnector">
            <group id="hipchat" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>HipChat</label>
                <field id="url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Url</label>
                    <comment>By default it will be: https://hipchat.com/v2/room/</comment>
                </field>
                <field id="token" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token</label>
                    <comment>Log into hipchat.com, and go to Rooms > Integrations > Find New. From there, click on “Build Your Own”</comment>
                </field>
                <field id="room_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Room ID</label>
                    <comment>Log into hipchat.com, and go to Rooms > Integrations > Find New. From there, click on “Build Your Own”</comment>
                </field>
                <field id="notify" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="color" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <source_model>Staempfli\HipChat\Model\Config\Source\Color</source_model>
                </field>
            </group>
        </section>
    </system>
</config>